*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: white;

}
body{
    background-color: black;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 20px;
}

iframe{
    
    margin: 0 auto;
    margin: 20px 20px;
}
div{
    text-align: center;
    /* margin:  0 auto; */
    /* width: max-content; */
    margin: 30px 0;
}